$progress_color : #007bff;

.floating-label-input {
	position: relative;
	input {
		&.form-control {
			border-radius: unset;
			border : unset;
			padding-left: 0;
			&:focus {
				box-shadow:none;
			}
			&::-webkit-input-placeholder{
				font-size : 13px;
				transition: color .5s;
				color: transparent;
			}
		}
	}
	label {
		&.form-label {
			font-size : 14px;
			position: absolute;
			margin-bottom: 0;
			color: #162d3d;
			transition: color .3s,top .3s ease-in-out,font-size .3s, color .3s,font-weight .3s;
			top: 8px;
		}
	}
	.form-line {
		position: absolute;
		top: 34px;
		left: 1px;
		width: 100%;
		height : 1px;
		background-color: #d7d7d7;
		transition : background-color .3s;
		.colored {
			transition: width .4s,height .3s;
			width: 0%;
		}
	}
	&:hover {
		.form-line {
			background-color :#162d3d;
		}
	}
	&.with-content {
		label {
			&.form-label{
				padding-left:unset;
				top: -15px;
				font-size: 10px;
				opacity: .8;
			}
		}
	}
	&.focused {
		.form-line {
			width:100%;
			.colored {
				width: 100%;
				height: 2px;
				background-color: $progress_color!important;
			}
		}
		input {
			&.form-control {
				border-bottom: unset!important;
				&::-webkit-input-placeholder{
					color: #dbdbdb;
					transition: color .4s;
				}
			}
		}
		label {
			&.form-label{
				color: #162d3d!important;
				padding-left:unset;
				top: -15px;
				font-size: 10px;
				opacity: .8;
			}
		}
		.error-icon {
			display: none!important;
		}
	}
	.error-icon {
		font-size: 25px;
		position: absolute;
		right: 0;
		top: 0;
		opacity: .7;
		transition : display .3s;
	}
	&.has-error {
		.error-icon {
			font-size: 25px;
			position: absolute;
			right: 0;
			top: 0;
			opacity: .7;
		}
		.form-line {
			background-color: #d7d7d7;
			.colored {
				background-color: #ff8f8f;
				width: 100%;
				height: 2px;
			}
		}
		label {
			&.form-label{
				color : #ff8f8f;
			}
		}
	}
}